*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span { margin: 0px 10px 0px 0px;}

#ErrorMsgs { color: #f61; font-size: smaller; }

.edit:hover{
	transition: all 0.5s ease-out;
	transform: rotate(-7deg);

}
.edit{
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.pre:hover{
	
	color: red;
}
.del{
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
button{
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.del:hover{
	background: red;
	color: white;
}