

<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		
		<form method="get" action="/quizes/<%= quiz.id %>/answer">

	<%
		if( fallos != 0 ){ %>
		<p>La respuesta correcta empieza por: </p>
        <span><%= quiz.respuesta.charAt(0)  %></span></p>
		<% } %>

		<p>Pregunta:<%= quiz.pregunta %> </p>
		<input type="text" name="respuesta" placeholder="Respuesta">
		<input type="hidden" name="fallos" value="<%= fallos %>" />
		<input type="submit" name="Enviar">

		</form>

	</body>
</html>